<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>yychat</string>
			</array>
		</dict>
	</array>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>SupabaseAnonKey</key>
	<string>eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imh6bG1zbGtkYm5zcXJvb2l2YXViIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTczODU2NDYsImV4cCI6MjA3Mjk2MTY0Nn0.HWY3QI2QS0AAHMKDBPOLqpU21bZGsoC7x74w5AC2JcQ</string>
	<key>SupabaseRedirectURL</key>
	<string>yychat://auth-callback</string>
	<key>SupabaseURL</key>
	<string>https://hzlmslkdbnsqrooivaub.supabase.co</string>
</dict>
</plist>
